:root {
    --main-bg-color: #040313;
  }

html,body {
    margin:0;
    padding:0;
    height:100%; /* needed for container min-height */
    background:var(--main-bg-color);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-section {
	flex-grow:1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logotype-section {
	margin: 20px;
}

.logotype-section img {
	width: 150px;
}

.main-section img {
	width: 1200px;
	background-size: contain;
}

.social-links-section {
	margin: 20px;
}

.social-links a {
	width: 25px;
	height: 25px; 
	margin: 7px;
	display: inline-block;
}

.social-links a:last-child {
	margin-right: 0px;
}

.ig-link {
    background: url('../assets/IG-Logo.png');
	background-size: contain;
}
.fb-link {
    background: url('../assets/FB-Logo.png');
	background-size: contain;
}

@media(max-width:1000px) {
	body {
		min-width: initial !important;
		max-width: 100%
	}
	.logotype-section {
		flex-grow: 1;
	}
	.logotype-section img {
		width: 200px;
	}
	.main-section img {
		width: 700px;
	}
	.social-links a {
		width: 40px;
		height: 40px;
	}
}

@media(max-width:550px) {
	body {
		min-width: initial !important;
		max-width: 100%
	}
	.main-section img {
		width: 400px;
	}
	.social-links {
		display: flex;
		flex-direction: row;
	}
	.social-links a {
		width: 25px;
		height: 25px;
	}
}